<div class="row">
  <div class="col-xs-12">
    <p>Book Details</p>
    <label>Book Name</label>
    <input type="text" class="form-control" [(ngModel)]="bookName">
    <!-- <input type="text" class="form-control" #serverNameInput> -->
    <label>Book Author</label>
    <input type="text" class="form-control" [(ngModel)]="bookAuthor">
    <!-- <input type="text" class="form-control" #serverContentInput> -->
    <label>Book Description</label>
    <input type="text" class="form-control" [(ngModel)]="bookDescription">
    <br>
    <button class="btn btn-primary" (click)="addServer()">ADD</button>
    <button class="btn btn-danger" (click)="removeServer()">Remove</button>
  </div>
</div>